/*fonts*/

.roboto-regular{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
}

.main{
	display: flex;
	flex-wrap: wrap;
}

.sidebar{
	padding: 1rem;
	margin: 0.5rem;
	display: block;
	border-radius: 10px;
	border: 1px solid darkgrey;
	min-width: 150px;
	width: 12%;
	height: 95vh;
	background-color: #FAFAFA;
	overflow: hidden;
	position: fixed;
	z-index: 1;
}

.main-body{
	display: flex;
	flex-wrap: wrap;
}

.slideImage{
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100vh;
	background-image: url('pic3.jpg');
	background-size: cover;
	background-position: center;
	align-content: right;
	z-index: 0;
}

#imageContainer{
	position: absolute;
	top: 0;
	right: 0;
	width: 60%;
	height: 100vh;
	background-size: cover;
	background-position: center;
	align-content: right;
	z-index: 0;
	overflow: hidden;
}
.content-area{
	z-index: 1;
	position: relative;
	margin: 5rem 15rem 5rem 15rem;
}

section{
	height: auto;
	width: 90%;
	padding: 10rem 0rem 11rem 1rem;
}

#home{
	/*padding-top: 225px;
	padding-bottom: 375px;*/
}

#about{
	display: flex;
	flex-wrap: wrap;
	padding-top: 6.25rem;
	height: 34.375rem;
}

#title-name{
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 5rem;
	letter-spacing: 0.125rem;
}

#desc-wrapper{
	overflow: hidden;
	margin-left: 2rem;
}

#title-wrapper{
	overflow: hidden;
	width: 100%;
	/*margin-left: 30px;
	margin-bottom: 20px;*/
	margin: 0rem 0rem 1.25rem 1.875rem;
}

#desc{
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 1.56rem;
	color: #838383;
	width: 70%;
	letter-spacing: 0.125rem;
}

#highlight{
	color: #9C04FC;
	font-weight: bold;
}

#about-me-wrapper{
	width: 100%;
	padding-left: 1.875rem;
}

#about-me{
	display: inline-block;
	font-family: Roboto, sans-serif;
	font-weight: bold;
	font-size: 3.125rem;
	letter-spacing: 0.06rem;
}


.inner-sidebar{
	display: flex;
	flex-direction: column;
}

#sidebar-name{
	font-weight: bolder;
	font-size: 2.5rem;
	font-family: Roboto , sans-serif;
	text-align: left;
	padding-bottom: 7.5rem;
}


.tabs{
	font-family: Roboto, sans-serif;
	text-decoration: none;
	display: inline-block;
	font-size: 18px;
	font-weight: normal;
	color: grey;
	padding-bottom: 1px;
	padding-top: 1px;
	padding-left: 20px;
	height: 58px;
	transform: translate(0px, 0px);
	transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease, letter-spacing 0.3s ease;
	letter-spacing: 1px;
}

.tabs:hover{
	color: #A587F4;
	transform: translate(10px, 0px);
	font-size: 22px;
	letter-spacing: 2px;
	transition: transform 0.3s ease, color 0.3s ease, font-size 0.3s ease, letter-spacing 0.3s ease;
}